@font-face{
                             font-family: DynaGroteskLM Bold;
                             font-display: swap;
                             src: url("../fonts/DynaGroteskLM Bold.woff2") format("woff2") url("../fonts/DynaGroteskLM Bold");
                             font-weight: 400;
                             font-style: normal;
                        }
@font-face{
                             font-family: OpenSans_SemiCondensed;
                             font-display: swap;
                             src: url("../fonts/OpenSans_SemiCondensed-Light.woff2") format("woff2") url("../fonts/OpenSans_SemiCondensed-Light");
                             font-weight: 400;
                             font-style: normal;
                        }
@font-face{
                             font-family: OpenSans_SemiCondensed;
                             font-display: swap;
                             src: url("../fonts/OpenSans_SemiCondensed-Medium.woff2") format("woff2") url("../fonts/OpenSans_SemiCondensed-Medium");
                             font-weight: 400;
                             font-style: normal;
                        }
@font-face{
                             font-family: OpenSans_SemiCondensed;
                             font-display: swap;
                             src: url("../fonts/OpenSans_SemiCondensed-Regular.woff2") format("woff2") url("../fonts/OpenSans_SemiCondensed-Regular");
                             font-weight: 400;
                             font-style: normal;
                        }
@font-face{
                             font-family: OpenSans_SemiCondensed;
                             font-display: swap;
                             src: url("../fonts/OpenSans_SemiCondensed-ExtraBold.woff2") format("woff2") url("../fonts/OpenSans_SemiCondensed-ExtraBold");
                             font-weight: 400;
                             font-style: normal;
                        }
